<?xml version="1.0"?>
<!--

/**
 * HubShop.ly Magento
 * 
 * Module configuration.
 * 
 * @category  Configuration
 * @package   Groove_Hubshoply
 * @author    Groove Commerce
 * @copyright 2017 Groove Commerce, LLC. All Rights Reserved.
 *
 * LICENSE
 * 
 * The MIT License (MIT)
 * Copyright (c) 2017 Groove Commerce, LLC.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

-->
<config>
    <modules>
        <Groove_Hubshoply>
            <version>2.2.1</version>
        </Groove_Hubshoply>
    </modules>
    <default>
        <hubshoply>
            <advanced>
                <enabled>0</enabled>
                <test_mode>0</test_mode>
                <site_id></site_id>
                <track_customers>0</track_customers>
                <frontend_url></frontend_url>
                <admin_url></admin_url>
                <user_config><![CDATA[minutes_until_abandoned=60
max_cart_age_days=60]]></user_config>
            </advanced>
            <support>
                <contact><![CDATA[support@hubshop.ly]]></contact>
                <feed_url><![CDATA[https://www.hubshop.ly/hubfs/hubshoply-feed.json?id={id}]]></feed_url>
            </support>
        </hubshoply>
    </default>
    <global>
        <models>
            <groove_hubshoply>
                <class>Groove_Hubshoply_Model</class>
                <resourceModel>groove_hubshoply_resource</resourceModel>
            </groove_hubshoply>
            <groove_hubshoply_resource>
                <class>Groove_Hubshoply_Model_Resource</class>
                <entities>
                    <queueitem>
                        <table>hubshoply_queue</table>
                    </queueitem>
                    <token>
                        <table>hubshoply_token</table>
                    </token>
                    <abandonedcart>
                        <table>hubshoply_abandonedcart</table>
                    </abandonedcart>
                    <log>
                        <table>hubshoply_log</table>
                    </log>
                </entities>
            </groove_hubshoply_resource>
        </models>
        <blocks>
            <groove_hubshoply>
                <class>Groove_Hubshoply_Block</class>
            </groove_hubshoply>
        </blocks>
        <helpers>
            <groove_hubshoply>
                <class>Groove_Hubshoply_Helper</class>
            </groove_hubshoply>
        </helpers>
        <resources>
            <groove_hubshoply_setup>
                <setup>
                    <module>Groove_Hubshoply</module>
                    <class>Groove_Hubshoply_Model_Resource_Setup</class>
                </setup>
            </groove_hubshoply_setup>
        </resources>
        <events>
            <customer_register_success>
                <observers>
                    <groove_hubspot>
                        <class>groove_hubshoply/event</class>
                        <method>createAccount</method>
                    </groove_hubspot>
                </observers>
            </customer_register_success>
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <groove_hubspot>
                        <class>groove_hubshoply/event</class>
                        <method>createNewsletterAccount</method>
                    </groove_hubspot>
                </observers>
            </newsletter_subscriber_save_commit_after>
            <review_save_after>
                <observers>
                    <groove_hubspot>
                            <class>groove_hubshoply/event</class>
                            <method>createReview</method>
                    </groove_hubspot>
                </observers>
            </review_save_after>
            <sales_order_save_before>
                <observers>
                    <groove_hubspot>
                        <class>groove_hubshoply/event</class>
                        <method>saveOrderBefore</method>
                    </groove_hubspot>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <groove_hubspot>
                        <class>groove_hubshoply/event</class>
                        <method>saveOrderAfter</method>
                    </groove_hubspot>
                </observers>
            </sales_order_save_after>
            <customer_save_after>
                <observers>
                    <groove_hubspot>
                        <class>groove_hubshoply/event</class>
                        <method>updateCustomer</method>
                    </groove_hubspot>
                </observers>
            </customer_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <groove_hubspot>
                        <class>groove_hubshoply/event</class>
                        <method>saveShipment</method>
                    </groove_hubspot>
                </observers>
            </sales_order_shipment_save_after>
        </events>
        <hubshoply>
            <diagnostic>
                <tests>
                    <mode>
                        <name><![CDATA[Integration Mode]]></name>
                        <model>groove_hubshoply/diagnostic_mode</model>
                    </mode>
                    <enabled>
                        <name><![CDATA[Enabled]]></name>
                        <model>groove_hubshoply/diagnostic_enabled</model>
                    </enabled>
                    <customertracking>
                        <name><![CDATA[Customer Tracking]]></name>
                        <model>groove_hubshoply/diagnostic_customertracking</model>
                    </customertracking>
                    <userconfig>
                        <name><![CDATA[User Configuration]]></name>
                        <model>groove_hubshoply/diagnostic_userconfig</model>
                    </userconfig>
                    <siteid>
                        <name><![CDATA[Tracking Script]]></name>
                        <model>groove_hubshoply/diagnostic_siteid</model>
                    </siteid>
                    <consumer>
                        <name><![CDATA[OAuth Consumer]]></name>
                        <model>groove_hubshoply/diagnostic_consumer</model>
                    </consumer>
                    <role>
                        <name><![CDATA[REST Role]]></name>
                        <model>groove_hubshoply/diagnostic_role</model>
                    </role>
                    <api>
                        <name><![CDATA[API Connectivity]]></name>
                        <model>groove_hubshoply/diagnostic_api</model>
                    </api>
                    <queue>
                        <name><![CDATA[Queue Status]]></name>
                        <model>groove_hubshoply/diagnostic_queue</model>
                    </queue>
                    <log>
                        <name><![CDATA[System Log]]></name>
                        <model>groove_hubshoply/diagnostic_log</model>
                    </log>
                </tests>
            </diagnostic>
        </hubshoply>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Groove_Hubshoply after="Mage_Adminhtml">Groove_Hubshoply_Adminhtml</Groove_Hubshoply>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <groove_hubshoply>
                    <file>hubshoply.xml</file>
                </groove_hubshoply>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <hubshoply_endpoint>
                <use>standard</use>
                <args>
                    <frontName>hubshoply</frontName>
                    <module>Groove_Hubshoply</module>
                </args>
            </hubshoply_endpoint>
        </routers>
        <layout>
            <updates>
                <groove_hubshoply>
                    <file>hubshoply.xml</file>
                </groove_hubshoply>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <hubshoply_order_registration>
                        <type>singleton</type>
                        <model>groove_hubshoply/event</model>
                        <method>registerOrderForTracking</method>
                    </hubshoply_order_registration>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <hubshoply_clean_log>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>groove_hubshoply/cron_log::clean</model>
                </run>
            </hubshoply_clean_log>
            <hubshoply_token_expire>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>groove_hubshoply/cron::pruneExpiredTokens</model>
                </run>
            </hubshoply_token_expire>
            <hubshoply_queue_expire>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>groove_hubshoply/cron::pruneStaleQueueitems</model>
                </run>
                <stale_length_in_days>30</stale_length_in_days>
            </hubshoply_queue_expire>
            <hubshoply_abandon_cart_scan>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>groove_hubshoply/cron::findAbandonCarts</model>
                </run>
                <minutes_until_abandoned>60</minutes_until_abandoned>
            </hubshoply_abandon_cart_scan>
        </jobs>
    </crontab>
</config>
